@use "../base/variables" as *;
@use "../base/baseline" as *;

.full-width-split {
  @include atMedium {
    display: flex;
    min-height: 450px;
  }

  .positioned {
    @include absolutePosBottom;
    margin-bottom: 5px;
  }

  &__one {
    flex: 1;
    position: relative;
    padding: 2.6rem 20px;

    @include atMedium {
      padding: 50px 40px;
    }

    .full-width-split__inner {
      @include atMedium {
        float: right;
      }
    }
  }

  &__two {
    flex: 1;
    position: relative;
    background-color: $beige;
    padding: 2.6rem 20px;

    @include atMedium {
      padding: 50px 40px;
    }
  }

  &__inner {
    @media (min-width: 1350px) {
      width: 610px;
    }
  }
}