@use "../base/variables" as *;

@mixin atSmall {
  @media (min-width: 530px) {
    @content;
  }
}

@mixin atSmallMedium {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin atMedium {
  @media (min-width: 960px) {
    @content;
  }
}

@mixin atMediumLarge {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin atLarge {
  @media (min-width: 1200px) {
    @content;
  }
}


@mixin absolutePosBottom {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

body {
  color: #333;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  position: relative;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: $mainBlue;
}

a:hover {
  text-decoration: none;
}

p,
ul,
ol {
  margin: 0 0 1.65em 0;
}

p,
li {
  line-height: 1.65;
}