$beige: #FAF0CA;
$mainYellow: #F4D35E;
$mainBlue: #0D3B66;
$lightOrange: #EE964B;
$darkOrange: #ff6900;
$grayLight: #a4a2a2;
$grayDark: #484747;
$shadow: 0 10px 24px rgba(0, 0, 0, 0.08);
$containerWidth: 1200px;


$heroHeight: 500px;
$spacing-lg: 65px;
$spacing-md: 30px;


//   --orange: #ee6c21;
//   --light-gray: #f1f1f1;
//   --white: #ffffff;
//   --text-gray: #7d7d7d;
//   --title-orange: #dc6d2f;
//   --shadow: 0 10px 24px rgba(0, 0, 0, 0.08);
//   --container-width: 1200px;